body
{
    font: 15px 'Open Sans', Arial, sans-serif;
    line-height: 1em;

    margin: 0;
    padding: 0;

    color: #464646;
    background-color: #fff;
}


@font-face
{
    font-family: 'Gilroy';
    font-weight: 300;
    font-style: normal;

    src: url(../fonts/gilroylight.woff2) format('woff2'), url(../fonts/gilroylight.woff) format('woff');
}

@font-face
{
    font-family: 'Gilroy';
    font-weight: 800;
    font-style: normal;

    src: url(../fonts/gilroyextrabold.woff2) format('woff2'), url(../fonts/gilroyextrabold.woff) format('woff');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;

    src: url(../fonts/opensanslight.woff2) format('woff2'), url(../fonts/opensanslight.woff) format('woff');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;

    src: url(../fonts/opensans.woff2) format('woff2'), url(../fonts/opensans.woff) format('woff');
}

a
{
    margin: 0;
    padding: 0;

    text-decoration: none;
}

*,
::after,
::before
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.visually_hidden:not(:focus):not(:active),
input[type='checkbox'].visually_hidden,
input[type='radio'].visually_hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
}

h1,
h2,
h3,
p,
div
{
    margin: 0;
    padding: 0;
}


/*header - start*/

.wrap
{
    width: 1200px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.main_header
{
    position: relative;

    min-height: 300px;
    margin: 40px auto 0 auto;
    padding-right: 57px;
    padding-left: 60px;
}

.catalog.main_header
{
    min-height: 187px;
}

.header_top
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_top form
{
    font-size: 0;

    margin-right: 97px;
}


.header_top form::after
{
    position: absolute;
    top: 18px;
    left: 5px;

    width: 16px;
    height: 16px;

    content: '';

    background: #f7e296 url('../img/search.svg') no-repeat;
}


.shopping li
{
    display: inline-block;

    vertical-align: middle;
}

.main_header
{
    background-color: #f7e296;
}

.main_header_logo
{
    display: inline-block;

    margin-top: -28px;
    margin-bottom: 5px;

    cursor: pointer;
    vertical-align: middle;
}

.main_header_logo a
{
    font: bold 48px 'Gilroy', 'Arial', sans-serif;

    text-transform: uppercase;

    color: #000;
}

.main_header_logo:hover,
.footer_logo:hover
{
    opacity: .6;
}

.main_header_logo:active,
.footer_logo:active
{
    opacity: .3;
}

.main_header input[placeholder]
{
    opacity: .302;
}

.main_header input[placeholder]::-webkit-input-placeholder
{
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: normal;

    color: #464646;
}

.input_search
{
    font-size: 15px;

    min-width: 360px;
    min-height: 46px;
    padding-left: 38px;

    vertical-align: bottom;

    border: 0;
    background: #f7e296;
}

input::-ms-clear
{
    width: 0;
    height: 0;
}

.main_header input:hover
{
    opacity: .6;
}

.submit_btn
{
    font-size: 15px;
    line-height: 1.2;

    visibility: hidden;

    padding: 12px 17px;

    vertical-align: bottom;

    border: 2px solid #000;
    background-color: #f7e296;
}

.main_header input:focus + .submit_btn
{
    visibility: visible;

    opacity: 1;
    border-bottom: 2px solid #000;
}

.main_header input:focus
{
    opacity: 1;
    border-bottom: 2px solid #000;
}

.submit_btn:hover
{
    color: #fff;
    background-color: #000;
}

.submit_btn:active
{
    visibility: visible;

    color: rgba(255, 255, 255, .3);
}

ul
{
    margin: 0;
    padding: 0;
}

li
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.sign_in
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sign_in ul
{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.logout
{
    margin-right: 50px;
    margin-left: 20px;

    opacity: .3;
}


.login,
.comparison,
.cart
{
    position: relative;

    padding-left: 26px;
}

.login::before,
.comparison::before,
.cart::before,
.login::before,
.comparison::before,
.cart::before
{
    position: absolute;
    left: 0;

    display: block;

    content: '';

    background-repeat: no-repeat;
}

.login::before
{
    top: 2px;

    width: 13px;
    height: 12px;

    background-image: url('../img/user.svg');
}

.login,
.login
{
    margin-right: auto;
}

.comparison::before
{
    top: 6px;
    left: 5px;

    width: 13px;
    height: 12px;

    background-image: url('../img/compare.svg');
}

.cart::before
{
    top: 5px;
    left: 1px;

    width: 13px;
    height: 12px;

    background-image: url('../img/cart.svg');
}

.cart
{
    margin-left: 35px;
}


.additional_info:nth-of-type(2)
{
    margin-right: 38px;
    margin-left: auto;
}

.additional_info:last-of-type
{
    margin-left: 108px;
}


.header_top a,
.shopping a,
.product_group a,
.footer_top a:not(.footer_logo)
{
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: normal;

    color: rgb(0, 0, 0);
}

.header_top a:hover,
.shopping a:hover,
.product_group a:hover
{
    opacity: .6;
}

.product_group:hover
{
    visibility: visible;
}

.header_top a:active,
.shopping a:active,
.product_group a:active
{
    opacity: .3;
}

.product_group
{
    position: absolute;
    z-index: 15;
    left: -60px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;

    width: 1160px;
    min-height: 165px;

    background-color: #f7e296;
}

.product_group li
{
    margin: 10px 10px 18px 60px;
}

.product_group ul
{
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.header_navigation
{
    position: relative;
}

.header_navigation ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 35px;
}

.header_catalog
{
    padding-right: 28px;
}

.header_catalog span::after
{
    position: absolute;
    top: 0;
    left: 230px;

    width: 16px;
    height: 16px;

    content: '';

    opacity: .3;
    background: #f7e296 url('../img/plus.svg') no-repeat;
}

.header_navigation span,
.additional_info a,
.footer_middle a
{
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;

    letter-spacing: 3.5px;
    text-transform: uppercase;

    color: rgb(0, 0, 0);
}

.header_navigation span
{
    padding-right: 30px;
}

.header_navigation span:hover,
.additional_info a:hover
{
    color: rgba(0,0,0,.6);
}

.header_navigation span:hover + .product_group
{
    visibility: visible;
}

.header_navigation span:active,
.additional_info a:active
{
    color: rgba(0,0,0,.3);
}

.index.main_header::after
{
    position: absolute;
    top: 228px;
    left: 598px;

    display: inline-block;

    width: 100px;
    height: 7px;

    content: '';
    vertical-align: middle;

    background-color: #fff;
}


/*header - end*/



/*buttons - start*/

.slider_txt a,
.services_slider_labels label,
.about_us .btn,
.send_button,
.show,
.hidden .btn
{
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;

    position: relative;
    z-index: 1;

    display: block;

    width: 220px;
    padding: 10px 0;

    text-align: center;
    letter-spacing: 3.5px;
    text-transform: uppercase;

    color: rgb(0, 0, 0);
    border: 0;
}

.hidden .btn
{
    position: relative;

    margin: 170px auto 20px auto;
}

.services_slider_labels label
{
    width: 160px;
    margin-top: 10px;
    margin-bottom: 22px;
}

.slider_txt .btn
{
    margin-bottom: 47px;
}

.table_product_01 .col1
{
    width: 155px;
}

.table_product_01 .col2
{
    width: 138px;
}

table td
{
    height: 55px;
}


.table_product_03 .col1
{
    width: 155px;
}

th
{
    text-align: left;
}

.send_button,
.popup_close,
.show
{
    border: 0;
    background-color: transparent;
}

.send_button:active,
.show:active,
.btn:active
{
    color: rgba(0, 0, 0, .6);
}

.about_us .btn
{
    width: 262px;
}


.slider_txt a::after,
.send_button::after,
.show::after,
.services_slider_labels label::after,
.about_us .btn::after,
.hidden .btn::after
{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;

    width: 100%;
    height: 8px;

    content: '';
    -webkit-transition: .3s linear;
         -o-transition: .3s linear;
            transition: .3s linear;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);

    background-color: #f0c52e;
}

.slider_txt a:hover::after,
.services_slider_labels label:hover::after,
.about_us .btn:hover::after,
.hidden .btn:hover::after,
.send_button:hover::after,
.show:hover::after
{
    height: 100%;
}

.slider_txt a:active,
.hidden .btn:active
{
    color: rgba(0, 0, 0, .3);
}

.slider_pos input
{
    display: none;
}

.product_slider_labels label
{
    display: inline-block;

    width: 5px;
    height: 5px;
    margin-right: 24px;

    cursor: pointer;
    -webkit-transition: background-color .2s;
         -o-transition: background-color .2s;
            transition: background-color .2s;
    vertical-align: middle;

    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 3px rgb(255, 255, 255), 0 0 0 4px rgb(0, 0, 0);
            box-shadow: 0 0 0 3px rgb(255, 255, 255), 0 0 0 4px rgb(0, 0, 0);
}

#btn-1:checked ~ .product_slider_labels label[for='btn-1'],
#btn-2:checked ~ .product_slider_labels label[for='btn-2'],
#btn-3:checked ~ .product_slider_labels label[for='btn-3']
{
    border: 1px solid rgb(0, 0, 0);
}

.product_slider_labels
{
    position: absolute;
    z-index: 10;
    right: 61px;
    bottom: 167px;
}

#btn-4:checked ~ .services_slider_labels label[for='btn-4'],
#btn-5:checked ~ .services_slider_labels label[for='btn-5'],
#btn-6:checked ~ .services_slider_labels label[for='btn-6']
{
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;

    width: 280px;
    padding-left: 20px;

    text-align: left;
    text-transform: uppercase;

    color: rgb(247, 225, 132);
    background-color: #000;
}

#btn-4:checked ~ .services_slider_labels label[for='btn-4']::after,
#btn-5:checked ~ .services_slider_labels label[for='btn-5']::after,
#btn-6:checked ~ .services_slider_labels label[for='btn-6']::after
{
    -webkit-transition: .5s linear;
         -o-transition: .5s linear;
            transition: .5s linear;

    background-color: black;
}

button
{
    outline: 0;
}

/*buttons - end*/



/*product slider - start*/

.product_slider_frame
{
    position: relative;

    display: block;

    margin-bottom: 89px;
}

.product_slider
{
    position: relative;

    width: 100%;
    padding: 0 60px;
}

.slider_slide_01,
.slider_slide_02,
.slider_slide_03
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: -110px;
}

.slider_slide_01
{
    position: relative;
    left: -30px;
}

.slider_slide_02
{
    position: relative;
    left: -30px;
}

.slider_slide_03
{
    position: relative;
    left: -30px;
}

.slider_slide_02,
.slider_slide_03
{
    display: none;
}

.slider_img_01
{
    display: block;

    max-width: 100%;
    max-height: 100%;
    margin-right: 45px;
}

.slider_img_02
{
    display: block;

    max-width: 100%;
    max-height: 100%;
    margin-right: 55px;
}

.slider_img_03
{
    display: block;

    max-width: 100%;
    max-height: 100%;
    margin-right: 55px;
}

.slider_txt
{
    position: relative;

    min-width: 560px;
    padding-top: 78px;
}

.slide_num
{
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 179px;
    font-weight: bold;
    line-height: 179px;

    position: absolute;
    right: 50px;
    bottom: 336px;

    letter-spacing: 1px;

    color: rgb(255, 255, 255);
}

.product_slogan
{
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 47px;
    font-weight: bold;
    line-height: 1.2;

    position: relative;
    z-index: 10;

    letter-spacing: .5px;

    color: rgb(0, 0, 0);
}

.product_description,
.services_slider_slide_01 p,
.services_slider_slide_02 p,
.services_slider_slide_03 p,
.about_us p
{
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 2;

    text-align: left;

    color: rgb(70, 70, 70);
}

.product_description
{
    margin-top: 19px;
    margin-bottom: 43px;
}

.table_product_01 td,
.table_product_02 td,
.table_product_03 td
{
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 36px;
    line-height: 1.2;

    color: rgb(0, 0, 0);
}

.table_product_01 th,
.table_product_02 th,
.table_product_03 th
{
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 1.538;

    text-align: left;

    color: rgb(70, 70, 70);
}


/*product slider - end*/



/*product range - start*/

.product_range
{
    margin: 20px 0 182px 0;
}

.product_range ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.product_range li
{
    display: block;

    width: 160px;
}

.product_range_link
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 160px;
    margin-bottom: 37px;

    background-color: #f7e296;
}


.product_range img
{
    margin: auto;
}

.monopods img
{
    margin-bottom: 0;
}

.product_range_link:hover
{
    background-color: #f0c52e;
}

.product_range a:active img,
.product_range a:active p
{
    opacity: .3;
}

.product_range a,
.write_us_popup label,
.filter_left legend
{
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;

    color: rgb(0, 0, 0);
}

/*product range - end*/



/*additional services - start*/

.additional_services
{
    margin-bottom: 95px;

    background-color: #e5e5e5;
}

.additional_services_container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-height: 287px;
}

.services_slider
{
    position: relative;

    margin-top: -30px;
}

.services_slider input
{
    display: none;
}

.services_slider::after
{
    position: absolute;
    top: 85px;
    left: 120px;

    display: inline-block;

    width: 320px;
    height: 7px;

    content: '';
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    vertical-align: middle;

    background-color: #000;
}

.services_slider_slide_01 h2,
.services_slider_slide_02 h2,
.services_slider_slide_03 h2,
.about_us h2,
.catalog_navigation h2
{
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 47px;
    font-weight: bold;
    line-height: 1.2;

    padding-bottom: 27px;

    letter-spacing: 1.1px;

    color: rgb(0, 0, 0);
}

.services_slider_details
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 880px;
    margin-top: -30px;
    padding-left: 120px;
}

.services_slider_slide_01,
.services_slider_slide_02,
.services_slider_slide_03
{
    position: relative;
}

.services_slider_slide_01,
.services_slider_slide_02,
.services_slider_slide_03 p
{
    padding-right: 320px;
}

.services_slider_slide_01::after
{
    position: absolute;
    top: 14px;
    left: 558px;

    width: 136px;
    height: 164px;

    content: '';

    background: url('../img/delivery.svg') no-repeat;
}

.services_slider_slide_02::after
{
    position: absolute;
    top: -8px;
    left: 542px;

    width: 171px;
    height: 194px;

    content: '';

    background: url('../img/warranty.svg') no-repeat;
}

.services_slider_slide_03::after
{
    position: absolute;
    top: -9px;
    left: 535px;

    width: 156px;
    height: 186px;

    content: '';

    background: url('../img/credit.svg') no-repeat;
}

/*additional services - end*/



/*brands - start*/

.brands
{
    margin-bottom: 90px;
}

.brands ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.brand_item img
{
    opacity: .2;

    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

.brand_item img:hover
{
    opacity: 1;

    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
}

/*brands - end*/



/*about us - start*/

.about_us
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding-top: 48px;
}

.about_us_txt::before
{
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;

    display: inline-block;

    width: 80px;
    height: 7px;

    content: '';
    vertical-align: middle;

    background-color: #000;
}

.contacts::before
{
    position: absolute;
    z-index: 20;
    top: 0;
    left: 600px;

    display: inline-block;

    width: 80px;
    height: 7px;

    content: '';
    vertical-align: middle;

    background-color: #000;
}

.about_us_txt
{
    padding-right: 60px;

    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.about_us_txt ul
{
    margin-top: 58px;
    margin-left: 35px;
}

.about_us_txt li
{
    position: relative;

    margin-bottom: 20px;
}

.about_us_txt li::before
{
    position: absolute;
    top: 8px;
    left: -30px;

    content: '';

    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 5px rgb(0, 0, 0);
            box-shadow: 0 0 5px rgb(0, 0, 0);
}

.about_us p
{
    padding-top: 12px;
    padding-bottom: 18px;
}

.about_us_txt p
{
    padding-right: 20px;
}

.about_us .btn
{
    margin-top: 66px;
}

.about_us li,
.filter_left b,
.ranking_navigation b,
.paging a,
ol > li,
ol > li.current
{
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    color: rgb(0, 0, 0);
}

.contacts
{
    padding-left: 22px;

    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.contacts p
{
    margin-bottom: 22px;
}

/*about us - end*/



/*catalog navigation start */

.catalog_navigation
{
    padding: 35px 62px 50px;
}

.catalog_navigation h2
{
    padding-bottom: 24px;
}


.breadcrumbs
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}


.breadcrumbs_link
{
    position: relative;

    padding-right: 35px;
}

.breadcrumbs_link:not(:last-child)::after
{
    position: absolute;
    top: 5px;
    right: 9px;

    width: 10px;
    height: 10px;

    content: '';

    background: url('../img/nav-arrow.svg') no-repeat;
}

/*catalog navigation - end*/



/*product choice - start*/

.product_choice_container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-height: 1284px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.filter_head
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-left: -9999px;
    padding-left: 9999px;

    background: rgba(0,0,0,.1);
}

.filter_head b
{
    padding-left: 63px;
}


.filter_left
{
    margin-left: -9999px;
    padding-left: 9999px;

    background: rgba(0,0,0,.1);
}


.slider_bar
{
    margin-top: 85px;
}

fieldset
{
    border: 0;
}

fieldset legend
{
    padding-left: 57px;
}

.slider_bar,
.checkbox,
.radio
{
    padding: 0;
}

.checkbox
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 330px;
    margin-top: 46px;
}

.checkbox label
{
    position: relative;

    padding-left: 53px;
}

.checkbox input
{
    display: none;
}


.checkbox label::before
{
    position: absolute;
    bottom: -4px;
    left: 15px;

    width: 27px;
    height: 23px;

    content: '';

    background: url('../img/checkbox-off.svg') no-repeat;
}


.checkbox input[type='checkbox']:checked + label::before
{
    background: url(../img/checkbox-on.svg) no-repeat;
}



.product_album_right
{
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
}

.ranking_navigation
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-right: -9999px;
    padding-right: 9999px;
    padding-left: 68px;

    background: rgba(0,0,0,.1);
}


.ranking_list
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: auto auto auto 50px;
}

.ranking_list li
{
    margin-right: 30px;
}

.up_arrow::before
{
    position: absolute;
    top: 28px;
    left: 788px;

    content: '';

    border: 10px solid rgba(0,0,0,.2);
    border-top-width: 0;
    border-right-width: 5px;
    border-right-color: transparent;
    border-left-width: 5px;
    border-left-color: transparent;
}

.down_arrow::after
{
    position: absolute;
    top: 28px;
    left: 817px;

    content: '';

    border: 10px solid;
    border-color: rgba(0,0,0,.2);
    border-right-width: 5px;
    border-right-color: transparent;
    border-bottom-width: 0;
    border-left-width: 5px;
    border-left-color: transparent;
}


.up_arrow:hover::before
{
    position: absolute;
    top: 28px;
    left: 788px;

    content: '';

    border: 10px solid rgba(0,0,0,.4);
    border-top-width: 0;
    border-right-width: 5px;
    border-right-color: transparent;
    border-left-width: 5px;
    border-left-color: transparent;
}

.down_arrow:hover::after
{
    position: absolute;
    top: 28px;
    left: 817px;

    content: '';

    border: 10px solid;
    border-color: rgba(0,0,0,.4);
    border-right-width: 5px;
    border-right-color: transparent;
    border-bottom-width: 0;
    border-left-width: 5px;
    border-left-color: transparent;
}


.up_arrow:active::before
{
    position: absolute;
    top: 28px;
    left: 788px;

    content: '';

    border: 10px solid rgba(0,0,0,1);
    border-top-width: 0;
    border-right-width: 5px;
    border-right-color: transparent;
    border-left-width: 5px;
    border-left-color: transparent;
}

.down_arrow:active::after
{
    position: absolute;
    top: 28px;
    left: 817px;

    content: '';

    border: 10px solid;
    border-color: rgba(0,0,0,1);
    border-right-width: 5px;
    border-right-color: transparent;
    border-bottom-width: 0;
    border-left-width: 5px;
    border-left-color: transparent;
}

/*product choice - end*/



/*catalog pictures - start*/

.album_container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding-top: 70px;
    padding-left: 68px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.item
{
    position: relative;
    z-index: 1;

    width: 360px;
    height: auto;
    margin-bottom: 46px;
}

.visible
{
    display: block;

    width: 100%;
    height: auto;

    cursor: pointer;
}

.hidden
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    max-height: 382px;

    opacity: 0;
}

.item:hover .hidden
{
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    opacity: 1;
}

.item:hover .visible img
{
    opacity: .7;
}

.hidden .compare
{
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 13px;
    font-weight: normal;

    position: relative;

    display: block;

    width: 147px;
    margin: 0 107px;
    padding: 0;

    text-align: center;

    color: rgba(0, 0, 0, .502);
}

.hidden .compare:hover
{
    color: rgb(0, 0, 0);
}

.hidden .compare:active
{
    color: rgba(0, 0, 0, .2);
}

.item_details
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 100%;
    margin-top: 31px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.item_details a
{
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    color: rgb(0, 0, 0);
}

.item_details p
{
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.2;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    color: rgb(70, 70, 70);
}


.new::before
{
    line-height: 60px;

    position: absolute;
    top: 27px;
    right: 24px;

    width: 64px;
    height: 64px;

    content: 'new';
    text-align: center;
    text-transform: uppercase;

    color: rgba(0,0,0,.2);
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 50%;
}

/*catalog pictures - end*/



/* catalog navigation - start */

.paging
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-left: 72px;

    background-color: #ebebeb;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


.paging a:hover
{
    background-color: #d9d9d9;
}

ol
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 20px;
    padding: 0;
}

ol > li,
.paging a:active
{
    color: rgba(0, 0, 0, .3);
}

ol > li
{
    counter-increment: list;
}

ol > li::before
{
    padding: 15px;

    content: counter(list) '';
}

/* catalog navigation - end */



/*catalog navigation - start*/

.breadcrumbs_link a,
.ranking_list a
{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;

    color: rgba(0, 0, 0, .3);
}

.breadcrumbs_link a:hover
{
    color: rgba(0, 0, 0, .6);
}

.breadcrumbs_link a:active
{
    color: rgba(0, 0, 0, .1);
}

.filter_left b,
.ranking_navigation b,
.paging a
{
    line-height: 4.2;

    letter-spacing: 3.5px;
    text-transform: uppercase;
}

.paging a
{
    min-width: 130px;

    text-align: center;
}

.ranking_list a:hover,
ol > li:hover
{
    color: rgba(0, 0, 0, .6);
}

.ranking_list a:active,
ol > li:active
{
    color: rgb(0, 0, 0);
}

.ranking_arrows a
{
    font-size: 0;
}

/*catalog navigation - end*/



/*forms - start*/

input
{
    outline: none;
}


/*range - start*/

.range_filter
{
    width: 240px;
    margin-top: 21px;
    margin-left: 35px;
}

.range_controls
{
    position: relative;

    height: 30px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;

    border-radius: 5px;
    background: transparent;
}

.scale
{
    height: 2px;

    background: #d7dcde;
}

.bar
{
    width: 55%;
    height: 2px;
    margin-left: 4%;

    background: #00ca74;
}

.toggle
{
    position: absolute;
    top: 6px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 2px;

    cursor: pointer;

    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
            box-shadow: 0 2px 1px 0 #cfcfcf;
}

.toggle_min
{
    left: 20px;
}

.toggle_max
{
    left: 133px;
}

.price_controls
{
    font-size: 0;
}

.price_controls label
{
    font-size: 16px;

    display: inline-block;
}

.max_price
{
    text-align: right;
}

.price_controls
{
    width: 190px;
    margin-left: 20px;
}

.price_controls label,
.price_controls input
{
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 14px;

    color: rgba(0, 0, 0, .2);
    background: transparent;
}

.price_controls input
{
    width: 50px;
    margin-right: 24px;

    border: none;
    border-radius: 5px;
}

/*range - end*/



/*checkbox, radio - start*/

.checkbox legend
{
    margin-bottom: 6px;
}

.checkbox label,
.radio label
{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;

    color: rgb(0, 0, 0);
}

.checkbox label
{
    margin: 25px 0 25px 42px;
}

.radio
{
    margin-top: 31px;
}

.radio input[type=radio]
{
    display: none;
}

.radiolabels label
{
    display: block;

    width: 16px;
    height: 16px;
    margin: 29px 61px;

    cursor: pointer;
    -webkit-transition: background-color .2s;
         -o-transition: background-color .2s;
            transition: background-color .2s;

    border: 3px solid white;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, .8);
            box-shadow: 0 0 0 5px rgba(0, 0, 0, .8);
}

.radiolabels label[for='yes']::after
{
    margin-left: 33px;

    content: 'Есть';
}

.radiolabels label[for='no']::after
{
    margin-left: 33px;

    content: 'Нет';
}

#yes:checked ~ .radiolabels label[for='yes'],
#no:checked ~ .radiolabels label[for='no']
{
    background-color: black;
}

.radiolabels label:hover
{
    opacity: .3;
}

.radiolabels label:active
{
    opacity: 1;
}

.show
{
    width: 200px;
    margin-top: 12px;
    margin-left: 60px;
}

/*checkbox, radio - end*/

/*forms - end*/



/*write us popup - start*/

.write_us_popup
{
    position: fixed;
    z-index: 50;
    top: 50%;
    left: 50%;

    display: none;

    margin-top: -299px;
    margin-left: -480px;
    padding: 100px;

    background-color: #fff;
    -webkit-box-shadow: -28px 0 50px -33px rgba(0, 0, 0, .8), 28px 0 50px -33px rgba(0, 0, 0, .8), 0 23px 30px -15px rgba(0, 0, 0, .8), 0 -1px 25px -20px rgba(0, 0, 0, .8);
            box-shadow: -28px 0 50px -33px rgba(0, 0, 0, .8), 28px 0 50px -33px rgba(0, 0, 0, .8), 0 23px 30px -15px rgba(0, 0, 0, .8), 0 -1px 25px -20px rgba(0, 0, 0, .8);
}



.input_fields
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.input_fields .name,
.input_fields .email
{
    width: 360px;
    height: 50px;
    margin-bottom: 38px;
}

.write_us_popup input,
.write_us_popup textarea
{
    margin-top: 12px;

    border: 0;
}

.write_us_popup textarea
{
    width: 760px;
    height: 157px;
    margin-bottom: 50px;
}

.write_us_popup .send_button
{
    width: 200px;
}

.popup_close
{
    font-size: 0;

    margin: 0;
    padding: 0;
}

.popup_close::after
{
    position: absolute;
    top: 22px;
    right: 22px;

    width: 55px;
    height: 55px;

    content: '';

    opacity: .5;
    background: url('../img/modal-close.svg') no-repeat;
}

.popup_close:hover::after
{
    opacity: 1;
}

.popup_close:active::after
{
    opacity: .3;
}

.write_us_popup input,
.write_us_popup textarea
{
    padding-left: 20px;

    background-color: #f2f2f2;
}

.write_us_popup textarea
{
    padding-top: 16px;

    resize: none;
}

.write_us_popup input:invalid
{
    background-color: #f6dada;
}

.write_us_popup input[placeholder]::-webkit-input-placeholder,
.write_us_popup textarea[placeholder]::-webkit-input-placeholder
{
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;

    color: rgba(70, 70, 70, .4);
}

.write_us_popup input[placeholder]:focus::-webkit-input-placeholder,
.write_us_popup textarea[placeholder]:focus::-webkit-input-placeholder
{
    color: rgb(70, 70, 70);
}

.write_us_popup input[type='text']:hover,
.write_us_popup textarea:hover
{
    background-color: #eaeaea;
}

.write_us_popup input[type='text']:focus,
.write_us_popup textarea:focus
{
    background-color: #fff;
}

/*write us popup - end*/



/* popup map - start */

.popup_map
{
    position: fixed;
    z-index: 50;
    top: 50%;
    left: 50%;

    display: none;

    margin-top: -297px;
    margin-left: -497px;
    padding: 0;

    background-color: transparent;
}


.popup_map .popup_close::after
{
    top: 28px;
    right: 41px;
}

/* popup map - end */



/*footer - start*/

footer
{
    margin-top: 81px;
    padding-top: 54px;
    padding-bottom: 66px;

    background-color: #464646;
}

footer.catalog
{
    margin-top: 0;
}

.footer_top
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer_top ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer_top li
{
    display: inline-block;

    vertical-align: middle;
}

.footer_top .login,
.footer_top .comparison,
.footer_top .cart
{
    position: relative;

    margin-left: 38px;
    padding-left: 26px;
}

.footer_top .login::before
{
    top: 2px;

    width: 13px;
    height: 12px;

    background-image: url('../img/user-ft.svg');
}

.footer_top .comparison::before
{
    top: 6px;
    left: 5px;

    width: 13px;
    height: 12px;

    background-image: url('../img/compare-ft.svg');
}

.footer_top .cart::before
{
    top: 5px;
    left: 1px;

    width: 13px;
    height: 12px;

    background-image: url('../img/cart-ft.svg');
}

.footer_logo
{
    font: bold 48px 'Gilroy', 'Arial', sans-serif;
    line-height: 1.2em;

    text-transform: uppercase;

    color: #ffc600;
}

.footer_top a:not(.footer_logo),
.footer_middle a
{
    color: #fff;
}

.footer_top a:not(.footer_logo)
{
    opacity: .7;
}

.footer_top a:not(.footer_logo):hover
{
    opacity: 1;
}

.footer_middle a:hover
{
    opacity: .6;
}

.footer_top a:not(.footer_logo):active,
.footer_middle a:active
{
    opacity: .3;
}

.footer_middle
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 22px;
    margin-bottom: 63px;
}

.footer_middle ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: auto;
    margin-right: 184px;

    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.footer_middle p
{
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 2;

    color: rgb(255, 255, 255);
}

.social_buttons,
.academylogo
{
    font-size: 0;
}

.footer_bottom
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.social_buttons
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-left: 498px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.social_buttons a
{
    display: block;

    width: 32px;
    height: 32px;
    margin: 0 11px;

    opacity: .3;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social_buttons .fb
{
    background-image: url('../img/fb.svg');
}

.social_buttons .ingrm
{
    background-image: url('../img/ingrm.svg');
}

.social_buttons .twt
{
    background-image: url('../img/twitter.svg');
}

.social_buttons a:hover
{
    opacity: 1;
}

.social_buttons a:active
{
    opacity: .1;
}

.academylogo
{
    display: block;

    width: 26.943px;
    height: 34.09px;

    background-image: url('../img/logo-html.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.academylogo:hover
{
    opacity: .6;
}

.academylogo:active
{
    opacity: .3;
}

.footer_bottom::before
{
    position: absolute;
    top: 12px;

    display: inline-block;

    width: 80px;
    height: 7px;

    content: '';
    vertical-align: middle;

    background-color: #ffc600;
}

/*footer - end*/
