body {
	font: 15px "Open Sans", Arial, sans-serif;
	line-height: 2em;
	color: #464646;
}

.main_header_logo {
	font: bold 48px "Gilroy", "Arial", sans-serif;
	text-transform:uppercase;
	line-height:1.2em;
	color:#000;
}

.footer_logo{
	font: bold 48px "Gilroy", "Arial", sans-serif;
	text-transform:uppercase;
	line-height:1.2em;
	color:#ffc600;
}

